
.preview{
    border:5px;
    border-color: blue;
}

.previewList{
    display: flex;
    flex-direction: column;
    border:5px;
    border-color: red;
}
.name {
    font-size: medium;
    padding: auto;
}

.id{
    font-size: medium;
    padding: auto;
}